<div class="mb-3">
  <h1 class="text-center">Add a new book..!!</h1>
  <% if(validationErrors){ %>
  <div class="alert alert-danger" role="alert"><%=validationErrors%></div>
  <%}%>

  <form action="/" method="post" enctype="multipart/form-data">
    <label for="name" class="form-label">Book Name :</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Enter Book Name"
    />
    <label for="detail" class="form-label">Book Details :</label>
    <textarea
      class="form-control"
      id="detail"
      name="detail"
      rows="3"
    ></textarea>
    <label for="price" class="form-label">Book Price :</label>
    <input
      type="number"
      class="form-control"
      id="price"
      name="price"
      placeholder="Enter Book Price"
    />
    <label for="img" class="form-label">Book Image :</label>
    <input
      type="file"
      class="form-control"
      id="img"
      name="img"
      accept="image/*"
    />
    <button type="submit" class="btn btn-success my-3 w-100">Add Book</button>
  </form>
</div>
